.fotoConfirmacion{  
    display: block;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.textoConfirmacion{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 3vh;
    margin-top: -5vh;
}

.linkConfirmacion{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.5vh;
    border: solid;
    padding: 1.5vh;
    max-width: 50%;
    color: white;
    background-color: black;
}

.textoError {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

h1{
    padding-bottom: 10px;
}

/* Esto funciona igual para celu como para tablet */
@media (width < 1024px){
    .fotoConfirmacion{
        width: 100%;
    }
    .linkConfirmacion{
        max-width: 100%;
    }
}