.fotoConfirmacion{  
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.textoConfirmacion{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: -30px;
}

.linkConfirmacion{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border: solid;
    padding: 10px;
    max-width: 50%;
    color: white;
    background-color: black;
}


.textoError {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}