.gridPersonajes{
    max-width: 28%;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1.8fr;
    grid-template-rows: 1.4fr 1.13fr 1.36fr;
    grid-template-areas: 
    "juliusGrid yunoGrid yunoGrid"
    "noelleGrid noelleGrid astaGrid"
    "yamiGrid yamiGrid astaGrid"
    ;
    img{
        width: 100%;
        height: 100%;
    }
    float: right;
}

/* El grid es de 18 de ancho x 16.5 de alto  */

#juliusGrid{
    grid-area: juliusGrid;
}

#noelleGrid{
    grid-area: noelleGrid;
}

#yamiGrid{
    grid-area: yamiGrid;
}

#yunoGrid{
    grid-area: yunoGrid;
}

#astaGrid{
    grid-area: astaGrid;

}