.personajes {
    height: 250px;
    float: right;
    margin-left: 20px;
}

.fuentePersonajes {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
}

ul {
    font-size: larger;
}