.personajes {
    height: 40vh;
    float: right;
    margin-left: 3vh;
}

.fuentePersonajes {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
}

ul {
    font-size: larger;
}

@media (width <= 500px){
    h2{
        text-align: center;
    }

    h3, li{
        text-align: left;
    }
}

@media (500px < width < 1024px){
    h3,li{
        text-align: left;
    }
}