.posicionFotos {
    float: right;
    margin-left: 3vh;
}

.columnaDerecha{
    width: 200%;
    margin-top: 4%;
    iframe, img{
        width: 100%;
    }
    #fotoCraneo{
        margin-top: 1.5vh;
    }
}

.seccionSinopsis{
    display: flex;
    gap: 5vh;
}

