.escenas {
    float: right;
    max-height: 25vh;
    margin-left: 3vh;
    margin-top: 3vh;
}

.trailer{
    display: flex;
    justify-content: center; 
}

.ultimaTemporada{
    background-image: url(../img/fondo\ demonio.gif);
    background-size: auto;
    background-repeat: round;
}

.resaltado{
    background-color: #17292d;
}